
/*Date : 04/11/2020*/

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	color: #1a1a1a;
	font-size: 16px;
}

ul.nav-value>li.nav-item>a.nav-link {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	text-align: center;
}

ul.nav-value>li.nav-item:last-child>a.nav-link {
	padding-left: 1.5rem;
	/*padding-right: 0rem;*/
	padding-right: 1.5rem;
}

li.nav-item.active > a.nav-link {
	padding-left: 17px !important;
	padding-right: 17px !important;
	border-radius: 5px;
	background-color: #febc23;
	font-size: 12px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.38;
	letter-spacing: 0.32px;
	text-align: center;
	color: #1a1a1a !important;
	text-transform: uppercase;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*.btn-daftar {
	padding-left: 17px !important;
	padding-right: 17px !important;
	border-radius: 5px;
	background-color: #febc23;
	font-size: 12px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.38;
	letter-spacing: 0.32px;
	text-align: center;
	color: #1a1a1a !important;
	text-transform: uppercase;
	width:100%;
}*/

.h100-vh {
	height: 100vh;
}

.h80-vh {
	min-height: 80vh;
}

.btn-daftar-1 {
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  padding-left: 5rem;
  padding-right: 5rem;
  /*width: 156px;*/
  /*height: 44px;*/
  border-radius: 10px;
  background-color: #ffbc23;
  /*font-size: 10px;*/
  /*font-size: 16px;*/
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: 0.4px;
  text-align: center;
  color: #1a1a1a;
  border:0px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-transform: uppercase;
}

.btn-daftar-1:hover {
  background-color: #ffbc23;
  color: #1a1a1a;
  border:0px;
}

.btn-daftar-1:active {
  background-color: #ffbc23 !important;
  color: #1a1a1a !important;
  border:0px !important;
}

.btn-daftar-1:focus {
  background-color: #ffbc23;
  color: #1a1a1a;
  border:0px;
  box-shadow: 0 0 0 0rem rgba(0,123,255,.5);
}

.img-content-1 {
  width: 309.4px;
  height: 245.2px;
  object-fit: contain;
}

h2.desc {
  /*font-size: 24px;*/
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #1a1a1a;
  margin-bottom: 20.5px;
}

p.desc-1 {
  /*font-size: 11px;*/
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
  margin-bottom: 15px;
}

p.desc-2 {
  /*font-size: 8px;*/
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #888888;
}

p.desc-2 > b {
  font-weight: bold;
  color: #333333;
}

.bg-sect-3 {
  background-color: #faf7f2;
}

h3.desc {
  /*font-size: 12px;*/
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

h4.desc {
  /*font-size: 15px;*/
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

small.desc {
  /*font-size: 8px;*/
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.75;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.btn-daftar-3 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 10px;
  background-color: #ffffff;
  /*font-size: 10px;*/
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: 0.4px;
  text-align: center;
  color: #1a1a1a;
  border:0px;
  text-transform: uppercase;
}

.btn-daftar-3:hover {
  background-color: #ffffff;
  color: #1a1a1a;
  border:0px;
}

.btn-daftar-3:active {
  background-color: #ffffff !important;
  color: #1a1a1a !important;
  border:0px !important;
}

.btn-daftar-3:focus {
  background-color: #ffffff;
  color: #1a1a1a;
  border:0px;
  box-shadow: 0 0 0 0rem rgba(0,123,255,.5);
}

.img-card {
  /*height: 50px;
  width: 50px;*/
  height: 80px;
  width: 80px;
  object-fit: contain;
}

.circle-card-1 {
  /*width: 22px;*/
  /*height: 22px;*/
  height: 30px;
  width: 30px;
  background-color: #febc23;
  /*font-size: 10px;*/
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.bg-value-talk {
  background-color: #febc23;
}

p.footer {
  font-family: 'Open Sans', sans-serif;;
  /*font-size: 7px;*/
  font-size: 13px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #888888;
}

p.footer > b {
  font-weight: 700;
  color: #333333;
}

div.row.card-value > div.col-12 > div.card:hover {
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(314deg, #faf7f2 100%, #ffffff);
}

ul.platform {
	column-count: 2;
	padding-left: 14px;
	list-style: none;
	margin-bottom: 0px;
}

label.platform {
  min-width: 106.5px;
  height: 50px;
  border-radius: 2.5px;
  background-color: #000000;
}

img.img-platform {
	height: 100px;
	width: auto;
	object-fit: contain;
}

h5.platform {
	font-size: 8px;
}

div.media-body.platform {
	font-size: 12px;
	font-weight: 600;
}

input.form-control {
  height: 48.5px;
  border: solid 0.5px #dedede;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.form-control:focus {
	border-color: #dedede;
	color: #666666;
}

.bg-brown {
	background-color: #faf7f2;
}

li.head {
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  margin-bottom: 16px;
}

div.head {
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  margin-bottom: 16px;
}


li.desc {
  line-height: 3.2;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}

div.desc {
  line-height: 3.2;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}

li.desc.subs {
  font-weight: bold;
  font-size: 18px;
  color: #1a1a1a;
}

div.desc.subs {
  font-weight: bold;
  font-size: 18px;
  color: #1a1a1a;
}

ul.platform.subs-total {
	background-color: #656565;
}

div.subs-total {
	background-color: #656565;
}

ul.platform.subs-total > li.desc {
	color: white;
}

div.subs-total > div.desc {
	color: white;
}

ul.platform.subs-total > li.desc.subs {
	color: #ffbc23;
}

div.subs-total > div.desc.subs {
	color: #ffbc23;
}

/*remove box default */

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

/*remove box default*/

/*div.row > div.align-content-around > img.img-client:first-child {
	margin-left: 0rem;
	margin-right: 0rem;
}*/

ul.list-inline.value-talk > li.list-inline-item:not(:last-child) {
    margin-right: 2.5rem;
}

.img-client {
	height: 24px;
	width: auto;
	object-fit: contain;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

div.form-check.check-value > input.form-check-input {
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
}

div.form-check.check-value > label.form-check-label {
    font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #888888;
	margin-left: 7px;
}

div.form-group {
	margin-bottom: 24px;
}

.btn-kirim {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
	padding-left: 4rem;
	padding-right: 4rem;
	font-size: 14px;
}

h5.terms-subs {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}

h5.terms-desc {
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
}

/*media query responsive*/

@media screen and (max-width: 576px) {

	a.navbar-brand.nav-logo {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
		top: 20px;
		z-index: 0;
	}

	.img-logo {
		width: auto;
		height: 30px;
		object-fit: contain;
	}

	.bg-sect-1 {
		background-image: linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(../images/content/content-1.jpg);
		background-position: right;
		background-size: cover;
		min-height: 100vh;
		background-repeat: no-repeat;
	}

	h1.display-4 {
	  /*font-size: 36px;*/\
	  font-size: 42px;
	  font-weight: 800;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.06;
	  letter-spacing: normal;
	  text-align: left;
	  color: #fff;
	}

	p.lead {
	  /*font-size: 18px;*/
	  font-size: 24px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.36;
	  letter-spacing: normal;
	  text-align: left;
	  color: #fff;
	}

	p.desc {
	  /*font-size: 10px;*/
	  font-size: 16px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.5;
	  letter-spacing: 0.5px;
	  text-align: left;
	  color: #fff;
	}

	p.desc > b {
	  font-weight: bold;
	  color: #fff;
	}

	.position-txt-responsive {
		text-align: center;
	}

}

@media screen and (min-width: 576px) {

	a.navbar-brand.nav-logo {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
		top: 20px;
		z-index: 0;
	}

	.img-logo {
		width: auto;
		height: 30px;
		object-fit: contain;
	}

	.bg-sect-1 {
		background-image: linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(../images/content/content-1.jpg);
		background-position: right;
		background-size: cover;
		min-height: 100vh;
		background-repeat: no-repeat;
	}

	h1.display-4 {
	  /*font-size: 36px;*/\
	  font-size: 42px;
	  font-weight: 800;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.06;
	  letter-spacing: normal;
	  text-align: left;
	  color: #fff;
	}

	p.lead {
	  /*font-size: 18px;*/
	  font-size: 24px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.36;
	  letter-spacing: normal;
	  text-align: left;
	  color: #fff;
	}

	p.desc {
	  /*font-size: 10px;*/
	  font-size: 16px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.5;
	  letter-spacing: 0.5px;
	  text-align: left;
	  color: #fff;
	}

	p.desc > b {
	  font-weight: bold;
	  color: #fff;
	}

	.position-txt-responsive {
		text-align: center;
	}

}

@media screen and (min-width: 768px) {

	a.navbar-brand.nav-logo {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
		top: 20px;
		z-index: 0;
	}

	.img-logo {
		width: auto;
		height: 50px;
		object-fit: contain;
	}

	.bg-sect-1 {
		background-image: linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(../images/content/content-1.jpg);
		background-position: right;
		background-size: cover;
		min-height: 100vh;
		background-repeat: no-repeat;
	}

	h1.display-4 {
	  /*font-size: 36px;*/\
	  font-size: 42px;
	  font-weight: 800;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.06;
	  letter-spacing: normal;
	  text-align: left;
	  color: #fff;
	}

	p.lead {
	  /*font-size: 18px;*/
	  font-size: 24px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.36;
	  letter-spacing: normal;
	  text-align: left;
	  color: #fff;
	}

	p.desc {
	  /*font-size: 10px;*/
	  font-size: 16px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.5;
	  letter-spacing: 0.5px;
	  text-align: left;
	  color: #fff;
	}

	p.desc > b {
	  font-weight: bold;
	  color: #fff;
	}

	.position-txt-responsive {
		text-align: left;
	}

}

@media screen and (min-width: 992px) {

	a.navbar-brand.nav-logo {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
		top: 20px;
		z-index: 0;
	}

	.img-logo {
		width: auto;
		height: 40px;
		object-fit: contain;
	}

	.bg-sect-1 {
		background-image: url(../images/content/content-1.jpg);
		background-position: right;
		background-size: cover;
		min-height: 80vh;
		background-repeat: no-repeat;
	}

	h1.display-4 {
	  /*font-size: 36px;*/\
	  font-size: 42px;
	  font-weight: 800;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.06;
	  letter-spacing: normal;
	  text-align: left;
	  color: #1a1a1a;
	}

	p.lead {
	  /*font-size: 18px;*/
	  font-size: 24px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.36;
	  letter-spacing: normal;
	  text-align: left;
	  color: #1a1a1a;
	}

	p.desc {
	  /*font-size: 10px;*/
	  font-size: 16px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.5;
	  letter-spacing: 0.5px;
	  text-align: left;
	  color: #666666;
	}

	p.desc > b {
	  font-weight: bold;
	  color: #333333;
	}

	.position-txt-responsive {
		text-align: left;
	}

}

@media screen and (min-width: 1200px) {

	a.navbar-brand.nav-logo {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
		top: 0px;
		z-index: 1;
	}

	.img-logo {
		width: auto;
		height: 40px;
		object-fit: contain;
	}

	.bg-sect-1 {
		background-image: url(../images/content/content-1.jpg);
		background-position: right;
		background-size: contain;
		min-height: 80vh;
		background-repeat: no-repeat;
	}

	h1.display-4 {
	  /*font-size: 36px;*/\
	  font-size: 42px;
	  font-weight: 800;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.06;
	  letter-spacing: normal;
	  text-align: left;
	  color: #1a1a1a;
	}

	p.lead {
	  /*font-size: 18px;*/
	  font-size: 24px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.36;
	  letter-spacing: normal;
	  text-align: left;
	  color: #1a1a1a;
	}

	p.desc {
	  /*font-size: 10px;*/
	  font-size: 16px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.5;
	  letter-spacing: 0.5px;
	  text-align: left;
	  color: #666666;
	}

	p.desc > b {
	  font-weight: bold;
	  color: #333333;
	}

	.position-txt-responsive {
		text-align: left;
	}

}


/*media query responsive*/

p.desc.color-subs {
	color: #666666;
}

p.desc.color-subs > b {
	color: #333333;
}

.border-bottom-head-platform {
	border-bottom: 2px solid #707070;
}

.border-bottom-body-platform {
	border-bottom: solid 1px #b9b9b9;
}

div.btn-quantity {
    /*float: left;*/
    /*margin-right: 19px;*/
    /*padding-top: 4px;*/
    /*height: 37px;*/
    /*line-height: 37px;*/
}

button.addContity, button.removeQuatity {
    padding: 0;
    width: 17px;
    height: 17px;
    line-height: 17px;
    margin: 0;
    display: inline;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    outline: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    background-color: #bcbcbc;
    color: #fff;
    border-radius: 500px;
}

input.quantityText {
    border: none;
    padding: 0 5px;
    width: 22px;
    display: inline;
    text-align: center;
    font-weight: 600;
    color: #666a6f;
    font-size: 16px;
    background: 0 0;
    vertical-align: middle;
}

button.navbar-toggler {
	z-index: 1;
}

span.break-price {
	word-break: keep-all;
	width: auto;
	display: inline-block;
}
